### Mac OS X ###
.DS_Store

### IntelliJ Idea ###
*.iml
*.ipr
*.iws
.idea/

### Maven ###
target/

### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

### Java ###
*.class

# Java Package Files #
*.jar
*.war
*.ear
############

### Netbeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nb-configuration.xml
